<!DOCTYPE html>
<html lang="en">
<head>
  <title>SpeechBot</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<section>

  <a href="">AIR</a>
  <a href="">OIL</a>
  <a href="">P1</a>
  <a href="">P2</a>

</section>

<header>

 <div class="kitt"></div>

 <div class="bottom">
   <button id="one">AUTO<br>CRUISE</button>
   <button id="two">NORMAL CRUISE</button>
   <button id="three">SPEAK</button>
 </div>

</header>
<section>
  <a href="">S1</a>
  <a href="">S2</a>
  <a href="">P3</a>
  <a href="">P4</a>
</section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
  <script src="js/script.js"></script>
</body>
</html>